
          
<div class="item">
  <% @products.each do |product| %>
    <div class="item-body">
      <div class="prodimg" style="background-color:<%=product.color%>">
        <%= image_tag product.image, class: "pimg"%>
      </div>
      <div class="proddes">
        <p class="name">
          <%= product.name%>
        </p>
        <p class="descriptions">
          <%= product.description%>
        </p>
        <div class="acct">
          <p class="price">
            $<%=product.price%>
          </p>
          

          <div id="product_action_<%=product.id%>">
            <%= render partial: 'products/product_action', locals: {product: product}%>
          </div>
          
          <!-- <%if @carts.empty?%>
            <button class="add-cart" id="add-btn_<%=product.id%>">
              <%= link_to "ADD TO CARD", add_cart_product_path(product), method: :post, remote: true %>
            </button>
          <%end%>

          <%if !@carts.empty?%>
            <div class="check-item" id="check-btn_<%=product.id%>" style="display: none">
              <%= image_tag "check.png", class: "pcheck"%>
            </div>
          <%end%> -->

        </div>
      </div>  
    </div>
  <%end%>
</div>

