
       
<div class="item">
  <% @products.each do |product| %>
    <div class="item-body">
      <div class="prodimg" style="background-color:<%=product.color%>">
        <%= image_tag product.image, class: "pimg"%>
      </div>
      <div class="proddes">
        <p class="name">
          <%= product.name%>
        </p>
        <p class="descriptions">
          <%= product.description%>
        </p>
        <div class="acct">
          <p class="price">
            $<%=product.price%>
          </p>
          <div id="product_action_<%=product.id%>">
            <%= render partial: 'products/product_action', locals: {product: product}%>
          </div>
        </div>
      </div>  
    </div>
  <%end%>
</div>

