<div class="my-body">
  <div class="head-action">
    <%= link_to 'New Product', new_product_path, style: "color: green" %>
    <%= link_to 'Show Product', show_all_path %>
  </div>

  <div class="container">
    <div class="list">
      <div class="header">
        <%= image_tag 'nike.png', class: "nikeico"%>
        <p class="cart-title">Our Products</p>
      </div>
      <div class="list-items">
        <%= render partial: 'products/item_product'%>
      </div>  
    </div>
    <div class="list">
      <div class="cart-header">
        <%= image_tag 'nike.png', class: "nikeico"%>
        <div class="title"> 
          <p class="cart-title" >Your Cart</p>
          <p class="cart-title" id="total_price_cart"><%= number_to_currency(@total_price)%></p>
        </div>
      </div>
      <div class="content"></div>
        <div class="list-cart" id="list_carts">
          <% @carts.each do |cart| %>
            <%= render partial: 'products/item_cart', locals: {productC: cart} %>
          <% end %>

          <%if @carts.empty?%>
            <p class="descriptions" id="emptyNoti">Your cart is empty</p>
          <%end%>
          
        </div>
    </div>
  </div>
</div>

